.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}
.featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 380px;
}
.featuredImg{
    object-fit: fill;
    height: 500px;
    width: 500px;
}
.featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
}